.container
  %p Dev.Study는 이강훈 씨가 기획한 스터디로, 3년차 이상 현업 프로그래머를 대상으로 Rails 및 자바스크립트 MVC 프레임워크 스터디를 함께 공부하고 이러한 기술들을 사용해 최종적으로 실전 프로젝트를 직접 만들어 보는 것을 목표로 2013년 8월부터 시작되었습니다. 그리고 최종 프로젝트였던 공동 가계부와 RTS, NewsQ를 정리하고 Dev.Study 2.0을 기약하며 스터디는 마무리 되었습니다. 

  %p 이 사이트는 Dev.Study 스터디 그룹의 활동 기록을 담고 있습니다. 스터디 과정에서 나누었던 토론을 비롯하여, 발표 자료와 행아웃, 그리고 각종 리퍼런스 자료들을 정리해두었습니다. 부족하지만 함께 했던 스터디원들에게 과거 기록을 되돌아보는데 도움이 되기를 바라고 스터디에 참여하지 않았던 분들도 Rails나 AngularJS 등 여러 기술들을 접하는데 조금이나마 도움이 되었으면 합니다.

  %p 현재 Dev.Study는 마무리 되었지만, 곧 Dev.Study 2.0이 계속된다고 합니다. 관심 있으신 분들은 Facebook Group에 방문해주시기 바랍니다.

  %p 감사합니다.






