.description-main.bb-background
  %h1.heading 
    Budget Book
    %span.ruby 공동가계부
  .row
    .col-lg-8
      %h2.content 

.description-main.rts-background
  %h1.heading 
    Real Time Survey
    %span.ruby 실시간 설문조사
  .row
    .col-lg-8
      %h2.content 
 
