- content_for(:title, "Dev.Study Archive") 

-# articles, presentations, hangouts, reference
.row.index
  .col-lg-8.col-md-8.col-lg-offset-2.col-md-offset-2
    %h1 
      Dev.Study Archive
    %p 
      %strong 이 사이트는
      %a{href: "https://www.facebook.com/groups/dev.study/"} Dev.Study 
      멤버들과 함께 공부한 자료를 정리한 공간입니다. 서로 다른 경력 위에서 모인 멤버들은 최종적으로 실제 웹프로젝트를 진행하는 것을 목표로 루비 온 레일즈와 AngularJS에 대해서 중점적으로 공부했습니다. 
    %p
      이곳의 자료는 대부분 공부 과정에서 만들어진 자료로 페이스북 토론과 문서, 그리고 발표자료와 행아웃으로 정리되어있습니다. 스터디에 참가하신 분들에게는 복습하는데 도움이 되었으면 하고, 참여하지 않았던 분들에게도 레일즈와 AngularJS를 공부하는데 좀 더 도움이 되었으면 합니다. 특히 뛰어난 역량을 가지신 분들의
      %a{href: "/tags/%EB%9D%BC%EC%9D%B4%EB%B8%8C%20%EC%BD%94%EB%94%A9.html"} 라이브 코딩
      이 많은 도움이 될 것이라 생각합니다. 그리고 이를 바탕으로 최종 프로젝트를 진행하였으며 
      RTS, 
      NewsQ, 
      %a{href: "http://budgetbook.herokuapp.com"} 공동가계부 
      를 제작하였습니다.

    %hr
    %p 
      %strong 이 사이트는 
      정적 사이트 생성기 
      %a{href: "http://middlemanapp.com/"} Middleman
      으로 제작되었습니다.
      이 사이트의 저장소는 
      %a{href: "https://github.com/dev-study/dev-study.github.io.source"}Github dev-study 
      계정에 등록되어있습니다. 기고 및 사이트 관리에 참여하고 싶은 Dev.Study 멤버라면 언제든 풀리퀘스트를 보내주시면 됩니다 :)
      
    %hr
    %p 
      %strong 이 사이트에 
      관련된 문의사항은
      %a{href: "mailto:propellerheaven@gmail.com"} 사이트 관리자
      혹은
      %a{href: "https://www.facebook.com/groups/dev.study/"} Facebook Dev.Study 
      에 해주시기 바랍니다.

